version: "3.9"

services:
  provider:
    image: fraunhoferiosb/edc-extension4aas:latest
    ports:
      - "8181:8181"
      - "8281:8281"
      - "8182:8182"
      - "8282:8282"
    environment:
      EDC_FS_CONFIG: /configurations/docker-provider.properties
    volumes:
      - ./configurations:/configurations
      - ./resources:/resources
  consumer:
    image: edc-extension4aas:latest
    ports:
      - "9191:9191"
      - "9291:9291"
      - "9192:9192"
      - "9292:9292"
    environment:
      EDC_FS_CONFIG: /configurations/docker-consumer.properties
    volumes:
      - ./configurations:/configurations
