CONTROL_PLANE_API_KEY=password
EXTENSION_API_KEY=password

IDENTITY_HUB_SUPERUSER_ID=admin
IDENTITY_HUB_SUPERUSER_KEY="YWRtaW4=.s3cr3t"

ISSUER_SERVICE_SUPERUSER_ID=admin
ISSUER_SERVICE_SUPERUSER_KEY="YWRtaW4=.s3cr3t"

# PostgreSQL credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# HashiCorp Vault root token (dev mode only – NOT for production)
VAULT_TOKEN=token
VAULT_PORT=8200
